
/*

Main stylesheets
*/

.masthead {
    padding: 20px;
}

.mapColor {
  /*  background-color: #f9f2f4;*/
    overflow: hidden;
}

th {
    font-weight: normal!important;
}

.iamcontainer {
    padding: 20px;
}

.tableContainerfirst,
.tableContainersecond {
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.tableContainerfirst {
    width:70%;
}
.tableContainersecond {
    width:90%;
}

.basicTable {
    margin: auto;
    margin-top: 30px;
}

.mapLoad {
    position:relative;
    overflow: hidden;
}


.myFace {
    float:left;
}

.myFaceimg {
    width:200px;
    display: block;
    margin: 0 auto;
}
.myType {
    margin-top:5%;
}

nav a {
    background-color: white;

    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.nav  li > a:hover {
    background-color: #d8e0fa;
}

.nav li>a {
    -moz-transition: background-color 0.5s 0.1s ease;
    -o-transition: background-color 0.5s 0.1s ease;
    -webkit-transition: background-color 0.5s 0.1s ease;
}



/*#b2cafa;*/

.tableContainersecond table tr:nth-child(odd) {
    background-color: #f2f2f2;
    text-align: center;
}


h3 {
    display: inline;
}
.myimage {
    position: fixed;
    top:20px;
    right:30px;
    max-width: 30px;
    max-height: 30px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    z-index:99;
    border-radius:4px;
}

.mastheadtop {
    margin-bottom: 10px;
}
.parentContainer, .defaultparentContainer {

    width:auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}


.bagContainer {
    padding-left: 20px;
    padding-right: 20px;
}

body {
    background: #edeef0;
}

a {
    background-color: whitesmoke;
}

.defaultparentContainer {
    margin-bottom:20px;

}

.parentContainer {
    margin-bottom: 50px;
    padding:10px;
    border: 1px solid #d0d0d0;
    z-index: -99;
    background-color: white;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

td>p {
    text-indent:1.5em;
}

.timerContainer {
    width:auto;
    min-width: 50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    text-align: center;
    margin-bottom: 20px;
}

.timerOts {
    font-size: 2.5em;
    color: darkblue;
}

.myMap {
    visibility: hidden;
    height: 70vh;
}

/*@media (max-width: 1200px) {
    .defaultparentContainer {
        margin-bottom:20px;
    }
}*/

/**/
.under {

    background-color: rgba(200, 200, 200, 0.9);
    width: 430px;
    height:430px;

    position: relative;
    margin-top:-400px;
    border-radius: 50%;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.demo-container {
    text-align: center;
    z-index: 2;
}
.clock {
    border-radius: 50%;
    background: #fff no-repeat center;
    background-size: 88%;

    position: relative;
    display:inline-block;

    width: 360px;
    height: 360px;
    margin-top: 20px;
}

.clock {
    z-index:10;
}

@media (max-width: 510px) {
    .under {
        width: 215px;
        height:215px;
        margin-top:-203px;
    }

    .clock {
        width: 180px;
        height: 180px;
    }

}



.clock.simple:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}
.minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.minutes-container {

    transform-origin: 50% 25%;
}

.hours {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
}
.minutes {
    background: #000;
    height: 20%;
    left: 49%;
    position: absolute;
    top: 5%;
    width: 1.3%;
    border-radius:5px;
}
.seconds {
    border-radius:5px;
    background: #000;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
}



