.masthead {
    padding: 20px;
}


h3 {
    display: inline;
}
.myimage {
    position: fixed;
    top:20px;
    right:30px;
    max-width: 30px;
    max-height: 30px;
    border: 2px solid white;
    z-index:99;
    border-radius:4px;
}

.mastheadtop {
    margin-bottom: 10px;
}

.parentContainer {
    min-width: 500px;
    width:auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

@media (max-width: 1981px) {
    .parentContainer {
        max-width: 768px;
    }
}



.parentContainer

.myMap {
    position: inherit;
}